.formWrapper{
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 50px 30px;
    background: white;
 }
 .warningField {
     display:block;
 }

 .uploadPhoto{
     text-align: center;
     max-width: 130px;
     margin: 0 auto;
     display: block;
 }

 .uploadPhoto > div{
     margin-bottom: 20px;
 }

 .uploadPhoto p{
     font-size: 13px;
     font-weight: bold;
     margin-bottom: 50px;
     letter-spacing: 0.54px;
 }

 .formWrapper h2{
    color: #158bca;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
}

.formWrapper input{
    text-align: left;
}

 .flex-row {
     display: flex;
     flex-direction: row;
     margin-top:35px;
 }
 .flex-row-valid{
     display: flex;
     flex-direction: row;
 }

 .formContainer {
     width: 580px;
     margin: 0px auto;
 }

 .spacing {
     width: 100px;
 }

 .section {
     background-image: url(../../../assets/img/onboarding-bkg.svg);
     background-repeat: no-repeat;
     background-position: center bottom;
     background-size: 100% auto;
     padding-bottom: 150px;
 }

 .nextContainer{
     margin-top: 35px;
 }
