.pageWrapper {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    padding:15px;

    background: #6BDDC9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6BDDC9, #6BDDC9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6BDDC9, #6BDDC9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.pageWrapper h1, .pageWrapper h2 {
    color:#fff;
    text-align:center;
}
.pageWrapper h1 {
    font-size:1.3em;
}
.pageWrapper h2 {
    font-size:0.9em;
}
.pageContent {
        flex:1;
        display:flex;
        flex-direction: column;
        justify-content: center;
}
.formContainer {
    width:80%;
    margin:0 auto;
    display:block;
    min-width:280px;
}
.formContainer input {
    display:block;
    max-width:400px;
    margin:0 auto;
}
.btn {
    display:block;
    width:100%;
    max-width:400px;
    border-radius:10px;
    margin:0 auto;
    margin-top:20px;
}
.hiddenResponse {
    display:none;
}
.successReponse, .errorResponse {
    text-align:center;
    margin-top:20px;
    width:80%;
    padding:20px;
    margin:20px auto;
}
.successReponse {
    color: #fff;
}
.errorResponse {
    color: #FF4136;
}
.formContainer {
    text-align:center;
}
.formContainer .ant-form-explain {
    margin-top:10px;
}
.warningField {
    text-transform:uppercase;
    font-size:1em;
    color:#FF4136;
    font-weight:bold;
    display:block;
}