.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  height: auto;
}

.aPieceOfNews {
  width: 80%;
  margin: 1rem 0;
  height: auto;
  padding: 2rem;
}

.aPieceOfNews h2 {
  color: #0ecaaf;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.aPieceOfNews p {
  margin-top: 1rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.saveButton,
.deleteButton {
  width: 33%;
}

.createButton {
  /* margin: 2rem; */
}
.aPieceOfNews {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  margin: 10px;
  height: auto;
  width: auto;
  border: 2px solid #f3f3f3;
  transition: all 0.6s ease;
  border-radius: 15px;
  /* overflow: hidden; */
}

.aPieceOfNews:hover {
  box-shadow: 9px 9px 16px 1px #d9d9d9;
  cursor: pointer;
  transition: all 0.6s ease;
}
