.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}

.columnContainer{
    width: 100%;
    display: flex;
    padding-top: 25px;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
}

.column:first-child{
    margin-right: 35px;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;
}

.column > div{
    margin: 0;
    margin-bottom: 30px;
}
.column:first-child > div{
    margin-bottom: 0;
}
.coverImage{
    position: relative;
}

.coverImage :global(.userImageUpload){
    position: relative;
    top: -128px;
    width: 100%;
    left: 20%;
    z-index: 999;
}
.greyBackground{
    background: rgb(248,247,247);
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.greyBackground > div{
    margin-bottom: 25px;
}

.greyBackground > div:last-child{
    margin-bottom: 0px;
}

.grayColor input {
    color:#58595b !important;
    background: rgb(248, 247, 247) !important;
}

.inputWrapper{
    max-width: 540px;
    margin: 0 auto;
    display: block;
}
.inputWrapper > span{
    max-width: 435px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}
.inputWrapper p{
    color: #a7a9ac;
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 0.67px;
}

.saveButtonWrapper{
    padding: 50px 0;
    padding-bottom: 20px;
}

.btnContainer {
    flex-direction: column;
    justify-content: flex-end;
    display:flex;
    position:relative;
    bottom:10px;
    margin-left:20px;
}

.styledButtonWrapper{
    width: 320px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    margin-top: 25px;
}

.styledButtonWrapper > div {
    font-size: 10.5px;
    padding: 10px 0;
}

.styledButtonWrapper > div > span {
    font-size: 14px;
    bottom: 2px;
}

.socialTitle{
    color: #575756;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 25px;
}

.upload{
    border: solid 2px #d8d8d8;
    display: flex;
    background: #f8f7f7;
    flex-direction: row;
    overflow: hidden;

}

.ant-avatar.ant-avatar-icon {
    /* font-size: 18px; */
    height: 100px;
    width: 100px;
    font-size: 45px;
    padding: 19%;
    background: rgb(224,224,224);
}

@media (max-width: 767px) {
    .screenWrapper {
        padding: 0 20px;
    }
    .columnContainer {
        display: inline-block;
    }
    .styledButtonWrapper {
        max-width: 295px;
    }
}

.almondFondation {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    letter-spacing: 0.75px;
    color: rgb(176, 176, 176);
    
}
.productImageCnt {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.productImageCnt > div {
    width: 261px;
}