.container {
    display:inline-block;
    margin:0 auto;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 24px;
    height: 2px;
    transition:all 0.5s ease;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.55s;
}
.bar2 {
    position:relative;
    left:5px;
}
.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(-9px, 4px); */
    transform: rotate(-45deg) translate(-3px, 8px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
    transform: rotate(45deg) translate(0px, -8px);
}

@media only screen and (max-width: 768px) {
    .bar1, .bar2, .bar3 {
        background-color:#12caaf;
    }
    .change .bar1, .change .bar2, .change .bar3 {
        background-color:#fff;
    }
}