.circleWrapper{
    background: rgb(21,202,175);
    background: linear-gradient(309deg, rgba(21,202,175,1) 0%, rgba(21,139,202,1) 100%);
    border-radius: 50%;
    padding: 3px;
    width: 110px;
    height: 110px;
}

.contentWrapper{
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 104px;
    heighT: 104px;
}

.contentWrapper > span{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.contentWrapper > span:last-child{
    margin-bottom: 0;
}

.image {
    
}

.number{
    font-size: 18px;
    color: #15caaf;
}

.label{
    font-size: 12px;
    color: #15caaf;
}
