.uploadFormWrapper {
    display:flex;
    height:266px;
    width:100%;
    border:2px solid #fff;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    transition: all 0.6s;
}
.uploadFormWrapper:hover {
box-shadow: 0 0 0 1px #ACACAC;
}
.grey {
    background-color:rgb(248,247,247);
}
.addIconContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.content {
    cursor:pointer;
}
.content > span {
    display:block;
    margin:0 auto;
}
.formTitle {
    margin-top:25px;
    color:rgb(224,224,224);
}

:global(.descriptiveMedia) .uploadFormWrapper{
    max-width: 100%;
    width: 100%;
    height: 260px;
    border-radius: 15px;
    cursor: pointer;
}
