.triggerUploadButton {
    width: 100%;
    border-radius:50%;
    background:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    height: 100%;
    margin-bottom: 15px;
}

.label {
    text-align:center;
    color:rgb(216,216,216);
    font-size:13px;
}

.imagePreview {
    width:100%;
    border-radius:50%;
    height:100%;
    background-size:cover !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
    border: 2.5px solid #fff;
    transition: all 0.6s;
}
.imagePreview:hover {
    box-shadow: 0 0 0 1px #ACACAC;
    transition: all 0.6s;
}
.imgContainer:hover {
    cursor: pointer;
}

.imagePreview:hover .btnContainerEdit {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
     opacity: 1;
}
.btnContainerEdit > span {
    background:#fff;
    color: #e0e0e0;
    margin-right: 5px;
    line-height: unset;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin-left: -2px;
    margin-top: -1px;
}
.btnContainerEdit {
    position: absolute;
    top: 10px;
    right: -50px;
    color:#fff;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    z-index: 10;
    background-color: #12caaf;
    border-radius: 20px;
    padding-right: 10px;
    height: 35px;
    border: 1px dotted #ececec;
    font-size: 10px;
    letter-spacing: 0.57px;
    font-family: 'Montserrat-Medium';
}

.grayColor {
    background: rgb(216, 216, 216);
}

.grayColor .label {
    color:#fff;
}