.title {
    font-size:16px;
    color:rgb(87,87,86);
    margin-bottom:15px;
    font-weight: 400;
}
.mapContainer {
    width:100%;
    height:320px;
}
.mapContainer {
    width:100%;
    height:320px;
}
.searchField {
    background:rgb(248,247,247);
    padding:10px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.searchField .inputContainer {
    max-width:475px;
    margin:0 auto;
}

.mapContainer :global(.mapboxgl-map) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}