.textInput input , .password input{
    text-align:left;
    height:40px !important;
    border-radius:15px;
    border-width: 0;
    width:100%;
    font-size: 16px;
    padding: 8px 5px 8px 15px;
    transition: all 0.6s;
}
.textInput textarea{
    border-radius:15px;
    border-width: 0;
    font-size: 16px;
    padding: 11px 5px 8px 15px;
}
.textInput {
    width:100%;
}
.textInput:focus {
    outline:none !important;
}
.inputLabel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    color: #575756;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.67px;
    white-space: nowrap;
    font-weight: 500;
}
.labelContainer > div{
    display: flex;
    flex-direction: column;
    height: max-content;
    color: #a7a9ac;
}
.tooltip-title {
    font-size:9px;
    cursor: help;
}

.tooltip :global(.ant-tooltip-arrow){
    display: none;
}
.tooltip :global(.ant-tooltip-inner){
    background-color: #575756;
    border-radius: 0;
}
.grayColor :global(.ant-input) {
    background: rgb(248, 247, 247) !important;
}
.labelContainer{
    display:flex;
    justify-content: space-between;
    width:100%;
    flex-direction: row;
}
.grayColor input {
    color:#58595b !important;
    background: rgb(248, 247, 247) !important;
    transition: all 0.6s;
}
.inline {
    flex-direction: row;
    margin-bottom:10px;
    display:flex;
}

.inline .inputLabel {
    display:inline-flex;
    width:unset;
    flex-direction: column;
    justify-content: center;
    margin-right:5px;
}
.inline input {
    width:unset;
    margin-right:10px;
}

:global(.centered) label{
    margin: 0 auto;
    margin-bottom: 25px;
}
:global(.ant-input):hover, :global(.ant-input):focus {
    box-shadow:none !important;
}
.inputContainer:hover {
    box-shadow: 0 0 0 1px #ACACAC;
    transition: 0.6s;
}
.inputContainer {
    display:flex;
    border-radius:15px;
    flex-direction:row;
    transition: all 0.6s;
}
.iconContainer svg {
    color:rgb(87,87,86);
    display:block;
    margin:0 auto;
    width:12px;
    height:auto;
}
.iconContainer svg path {
    fill:currentColor !important;
}
.iconContainer {
    padding-left:20px;
    padding-right:10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:#12caaf;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.hasIcon input {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.textInput .inputContainer :global(.ant-input-affix-wrapper:hover) input{
    border-right-width: 0 !important;
}
