.addNewContainer{
    width: calc( 205px);
    background: #fff;
    margin: 60px 0 0 -2px;
    padding: 15px 12px 10px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
.iconsContainer {
    width:100%;
}
.iconSeparator {
    margin-bottom:25px;
}
