.container {
    background:rgb(224,224,224);
    height:175px;
    border-radius:0px;
    z-index:1;
    cursor:pointer;
    width: 490px;
    position:relative;
}

.btnContainer {
    position:absolute;
    top:20px;
    right:35px;
    color:#fff;
}
.btnContainer > span {
    background:#fff;
    color:rgb(224,224,224);
}

.imgContainer {
    height:175px;
    width:475px;
    border-radius:15px;
}
.imgContainer img {
    width:100%;
    height:100%;
}

.presetImage{
    width: 100%;
    height: 175px;
}
