.header {
    height:95px;
    background:rgb(248,247,247);
    margin-bottom:50px;
}
.contentContainer {
    max-width:1200px;
    margin:0 auto;
}
.widgetRow {
    display:flex;
    flex-direction: row;
}
.widgetRow > div:not(:last-child) {
    margin-right:40px;
}
.totalScansContainer {
    width:285px;
}
.segmentationContainer {
    width:300px;
}
.locationContainer {
    flex:1;
}

.tableContainer{
    width: 1000px;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
    background: #f8f7f7;
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}


.dashboardTable tr td {
    padding: 20px 20px 20px 0px !important;
}
.dashboardTable tr th{
    text-transform: capitalize  !important;
    padding: 0 !important;
    font-size: 14px !important;
    background: #f8f7f7 !important;
    font-weight: 100 !important;
}