.sectionTitle {
    color: #158bca;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
    position:relative;
    margin-bottom:30px;
}

:global(.centered){
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .sectionTitle {
        right:unset;
    }
}
