.inputContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.rewardsContainer {
    display:flex;
    flex-direction: row;
}
.description {
    color:#12caaf;
    display:flex;
    position:relative;
    bottom:10px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left:-15px;
}
.inlineDropdown {
    display:none;
}
.notInlineDropdown input, .inlineDropdown input{
    max-width: 100px;
}
.bubblesContainer {
    display:flex;
    flex:1;
    justify-content: flex-end;
    flex-direction:row;
}

.bubblesContainer > div {
    width:150px;
    height:150px;
}
.bubblesContainer > div:not(:last-child){
    margin-right: 175px;
}
.rightPart {
    flex:1;
    justify-content: flex-end;
}
.leftPart {
    display:flex;
    /* flex:1; */
    flex-direction: column;
    justify-content: space-between;
}
.inputContainer input{
    /* min-width:unset !important;
    width:100px; */
}

.inputContainer > div{
    min-width: 100px;
    width: 100px;
    text-align: center;
}
.inputContainer > div:first-child{
    max-width: 91px;
    margin-right: 50px;
}
@media only screen and (max-width: 1200px) {
    .bubblesContainer > div:not(:last-child){
        margin-right:30px;
    }
    .inlineDropdown {
        display:block;
    }
    .notInlineDropdown {
        display:none;
    }
    .rewardsContainer {
        flex-direction: column;
    }
    .description {
        justify-content: center;
        bottom:0px;
        margin-left: 5px;
    }
    .bubblesContainer {
        margin:0 auto;
        margin-top:20px;

        justify-content: center;
    }
    .inputContainer {
        margin:0 auto;
    }
    .inputContainer label {
        margin-bottom:0px !important;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .inputContainer {
        /* margin:unset; */
    }
    .inlineDropdown {
        display:none;
    }
    .notInlineDropdown {
        display:block;
    }
    .bubblesContainer > div:not(:last-child){
        margin-right:10px;
    }

    .inputContainer label {
        margin-bottom:10px !important;
    }
    .description {
        margin-left:10px;
    }
}
