.actionButtonContainer {
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.createButton {
  /* padding: 1rem; */
  /* width: 33%; */
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.quizContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  margin: 10px;
  height: 370px;
  width: auto;
  border: 2px solid #f3f3f3;
  transition: all 0.6s ease;
  border-radius: 15px;
  overflow: hidden;
}

.quizContainer:hover {
  box-shadow: 9px 9px 16px 1px #d9d9d9;
  cursor: pointer;
  transition: all 0.6s ease;
}
