.tableContainer{
    max-width:100vw;
    min-width:600px !important;
}

.tableUser tr td{
    height: 55px;
    font-size: 13px;
    border-top: solid 1px #fff;
    border-bottom-width: 0;
}

body .tableUser tr th{
    background: transparent;
    color: #575756;
    font-weight: 500;
    height: 55px;
    border-bottom-width: 0;
}

.tableUser tr td:last-child{
    border-bottom-width: 0;
}
.tableUser tr td:hover{
    cursor: pointer;
}

.tableUser tr td > div{
    max-width: 90%;
    overflow: visible;
}

.tableUser :global(.ant-input){
    padding-left: 0
}

body .tableUser :global(.ant-table-tbody) tr:hover td{
    background: transparent;
}



.userAvatar img {
    max-width: 32px;
    border-radius: 50%;
}

.actions a{
    margin-left: 10px;
}
.actions img {
    display:inline-block;
    width:20px;
    height:20px;
}

.actions span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.actions{
    display: flex;
    flex-direction: row;
}
.actions img:first-child {
    margin-right:20px;
}

@media(max-width: 767px) {
    .tableUser tr td{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 45px;
    }
    :global(.ant-table-tbody > tr) {
        border-bottom: 1px solid #14caaf;
        display: table-row;
        font-size: 12px;
    }
    :global(.ant-table-tbody > tr td) {
        padding: 15px;
        padding-left: 0px !important;
        text-align: left;
    }
    :global(.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td) {
        background: rgba(255,255,255,0.6);
    }
    .ant-table-tbody tr td:last-child {
        width: 10px;
    }
}

@media (max-width: 767px) {
    .actions img {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    .tableUser tr td:first-child{
        margin-top: 25px;
    }
    .tableUser tr td:last-child{
        margin-bottom: 25px;
    }
}
