.cardWrapper {
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    background:#fff;
    margin-bottom:25px;
    border-radius:0;
    box-shadow: 2px 4px 10px #ddd;
    padding: 15px 20px;
    height: 270px;
    width: 720px;
    align-content: center;
    margin: 0 auto;
}

.cardWrapper .inputLabel {
    color: rgb(167, 169, 172);
}

.biggerCard {
    height:350px;
}
.contentContainer {
    display:flex;
    width:100%;
    padding-top: 50px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: center;
}
.left, .right {
    flex:1;
}
.left {
    margin-right:25px;
    display:flex;
    flex-direction: column;
}
.inputContainer:not(:last-child) {
    margin-bottom:25px;
}
.right{
    display:flex;
    padding-top:35px;
}
.previewBox {
    border-radius:15px;
    background:#fff;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.iconContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.previewImage {
    flex:1;
    background-size:cover;
}
.loaderContainer{
    width:265px;
    height:150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.loaderContainer > div {
    width:100%;
    height:60px;
    min-height:unset;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.loaderContainer > div > div {
    width:60px;
    height:60px;
}
.btn {
    margin:0 auto;
    max-width:300px;
    width: 180px;
    height: 40px;
}
.btn > div {
    font-size: 11px;
}
.line{
    margin:25px auto;
    height:2px;
    width: 75%;
    background:#fff;
}
.disabledEdit input {
    cursor:default !important;
}
.disabledEdit .inputContainer div:hover {
    box-shadow:unset !important;
}
.icons {
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    transition: 0.6s;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 15px;
}
.actionIconContainer:first-child{
    margin-right:15px;
}
.actionIconContainer svg {
    cursor:pointer;
    width:24px;
    height:24px;
    color:rgb(21,139,202);
    transition: 0.6s;
}
.actionIconContainer:hover svg {
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    transition: 0.6s;
    width: 30px;
    height: 30px;
    padding: 5px;
}