.circleContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.circleGradient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(21,202,175);
    background: linear-gradient(360deg, rgba(21,202,175,1) 0%, rgba(21,139,202,1) 100%);
    width: 100%;
    text-align: center;
    border-radius: 60px;
    font-size: 10.5px;
    color: #fff;
}
