.headerWrapper {
    padding:0px 20px;
    display:flex;
    flex-direction: row;
    min-height:60px;
    justify-content: space-around;
    color:#12caaf;
}
.logoContainer {
    color:#12caaf;
}
.logoContainer, .profileContainer {
    width:300px;
}
.logoContainer, .profileContainer, .titleContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.logoContainer svg{
    height:30px;
}

.titleContainer {
    line-height:30px;
    padding:0px 20px;
    text-transform: uppercase;
    flex:2;
    font-weight: bold;
    text-align:center;
}
