.wrapper {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.batchCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: 10px;
    height: 370px;
    width: 260px;
    border: 2px solid #f3f3f3;
    transition: all 0.6s ease;
    border-radius: 15px;
}
.batchCard:hover {
    box-shadow: 9px 9px 16px 1px #d9d9d9;
    cursor: pointer;
    transition: all 0.6s ease;
}

.batchName {
    align-self: center;
    margin-top: 30px;
    color: #000;
}

.batchDescription {
    font-size: 0.8em;
    margin-top: 25px;
    max-width: 100%;
    text-align: justify;
}

@media (max-width: 767px) {
    .wrapper {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
}