.editorContainer{
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.6s;
    height: 400px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    max-width: 475px;
}

.editorContainer:hover {
    box-shadow: 0 0 0 1px #ACACAC;
    transition: all 0.6s;
}

.toolbar{
    background-color: #d8d8d8;
    text-align: center;
    padding: 15px 0;
    height: 60px;
}


.toolbar button{
    background: transparent;
    border-width: 0;
}

.editorBody{
    padding: 25px 15px;
    background: #f8f7f7;
    min-height: 366px;
}

.inputLabel {
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   color: #575756;
   font-size: 16px;
   line-height: 16px;
   font-weight: 500;
}

.active {
    border: 1px solid white !important;
}


.editorContainer h1 {
    font-family: 'Montserrat-Bold.otf';
    font-size: calc(16px + 0.3vw);
    color: #000;
}

.editorContainer h2 {
    font-family: 'Montserrat-Bold.otf';
    font-size: calc(12px + 0.3vw);
    color: #000 !important;
}
.editorContainer p {
    font-size: calc(14px + 0.2vw);
    text-align: left;
    line-height: 24px;
    display: block;
    color: #6D7278;
    font-family: 'Montserrat-Regular.otf';
}

.editorContainer blockquote span {
    padding: 0;
    line-height: 24px;
    font-size: calc(18px + 0.3vw);
    line-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat-Light.otf';
    display: block;
}

.editorContainer blockquote p  {
    position: relative;
    text-align: center;
    height: auto;
    font-size: calc(14px + 0.2vw);
    text-align: left;
    line-height: 22px;
    padding: 13px;
    text-transform: capitalize;
    font-family: 'Montserrat-SemiBold.otf';
    text-align: center;
}

.editorContainer span img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 185px;
    max-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.editorContainer span h1 {
    margin-top: -10px;
    height: auto;
    font-size: calc(14px + 0.2vw);
    background-color: #F5F5F5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: left;
    line-height: 22px;
    padding: 13px;
    text-transform: capitalize;
    font-family: "Montserrat";
    color: #6d7278;
    border: 2px solid white;
}
