.tableContainer{
    max-width:100vw;
    min-width:600px !important;
}
.tableContainer :global(.ant-table-thead) th{
    color:#12caaf;
    background:none;
    border:none;
    font-size:14px;
    text-transform:capitalize;
    padding:0px;
    padding-bottom:20px;
}
.navigationBtn {
    font-size:12px;
}
.leftArrow {
    font-size:10px;
    display:inline-block;
    margin-right:10px;
}
.rightArrow {
    font-size:10px;
    display:inline-block;
    margin-left:10px;
}
@media(max-width: 767px) {
    .tableContainer{
        max-width:100%;
        min-width:100% !important;
    }
}