.batchWrapper {
    width:100%;
    margin:0 auto;
}
.batchFirstSection {
    display:flex;
    flex-direction: row;
    
}

.batchFormContainer {
    flex:1;
    margin-right:50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.imgContainer {
    width:40%;
}
.imgContainer img {
    width:100%;
    display:block;
    margin: 0 auto;
}

.qrImage {
    display: block;
    width: 200px;
    height: 200px;
    margin: 25px auto;
}
.batchWrapper {
    position:relative;
}
.titleContainer {
    
}
.inputContainer {
    width:100%;
}
.additionalInfo{
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.saveBtnContainer{
    display: flex;
    position: absolute;
    right: 50px;
    top: 84px;
}

.saveBtnContainer > div:first-child {
    margin-right: 20px;
}

.saveBtnContainer > div:first-child > div{
    max-height: 32px;
}
@media only screen and (max-width: 820px) {
    .saveBtnContainer{
        right:10px;
    }
}
@media only screen and (max-width: 580px) {
    .saveBtnContainer {
        right:unset;
        justify-content: center;
        padding:20px;
        width:100%;
        top:50px;
    }
}
