.triggerUploadButton {
    width:100px;
    border-radius:50%;
    background:#fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor:pointer;
    height:100px;
    margin: 0 auto;
}
.label {
    text-align:center;
    color:rgb(216,216,216);
    font-size:13px;
}

.imagePreview {
    width:100%;
    border-radius:50%;
    height:100%;
    background-size:contain !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
}

.presetImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
