.button {
    color: #fff;
    background: -webkit-linear-gradient(top, #158bca, #1487c5, #1384bf, #1380ba, #127db5);
    background: linear-gradient(to bottom, #158bca, #1487c5, #1384bf, #1380ba, #127db5);
    text-align: center;
    border-radius: 20px;
    padding: 17.5px 0;
    font-size: 15px;
    line-height: 1;
    max-width: 200px;
    font-weight:500;
    margin: 0 auto;
    transition:all 0.5s ease;
    margin-bottom: 25px;
    width: 100%;
    text-transform: uppercase !important;
    border-radius: 27.5px;
    font-weight: 700;
}

.iconBlueButtonPlus {
    width: 16px;
    height: 16px;
    margin-left: 22px;
    margin-top: 3px;
    margin-right: 12px;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), linear-gradient(to bottom, #158bca, #1487c5, #1384bf, #1380ba, #127db5);
}
