.genericModal :global(.ant-modal-body) {
    /* padding:25px; */
    padding:0px;
}
.genericModal :global(.ant-modal-content) {
    border-radius:15px;
}
.genericModal {
    width:fit-content !important;
    min-width:300px;
}

.genericModal :global(.ant-modal-header) {
    background: #15caaf;
    padding: 20px;
    text-align: center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

:global(.ant-modal-wrap.ant-modal-centered) {
    pointer-events:none !important;
}
:global(.ant-modal-centered .ant-modal) {
    pointer-events:auto !important;
    user-select:auto !important;
}

.genericModal :global(.ant-modal-header) > div{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.modalContentContainer {
    width:fit-content;
}
.titleContainer {
    display:flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size:18px;
    flex-direction: row;
    justify-content: center;
    background:#12caaf;
    color:#fff;
    text-transform: uppercase;
    height: 60px;
    padding: 20px;
}
.modalInnerContent {
    padding: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.modalInnerContent > div {
    width: 100% !important;
}
.modalInnerContent :global(.ReactCrop) {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
:global(.ReactCrop__image) {
    max-width:500px !important;
    max-height:600px !important;
    /* hacky as fuck but gets the job done. */
    align-self:center !important;
}
@media(max-width: 767px) {
    .modalContentContainer {
        min-width: 100%;
        width: 100%
    }
}
@media(min-width: 1025px) {
    .genericModal :global(.ant-modal-content) {
        border-radius:15px;
        width: 100%;
    }
}