.container {
    background:rgb(224,224,224);
    height:268px;
    z-index:1;
    cursor:pointer;
    width:100%;
    position:relative;
}
.imgContainer{
    transition: 0.6s;
}
.btnContainer {
    position:absolute;
    top:10px;
    right:25px;
    color:#fff;
}
.btnContainer > span {
    background:#fff;
    color:rgb(224,224,224);
    margin-right: 10px;
}

.btnContainerEdit {
    position:absolute;
    top:10px;
    right:25px;
    color:#fff;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    z-index: 10;
    background-color: #12caaf;
    border-radius: 20px;
    padding-right: 10px;
    height: 35px;
    border: 1px dotted #ececec;
    font-size: 10px;
    letter-spacing: 0.57px;
    font-family: 'Montserrat-Medium';
}
.btnContainerEdit > span {
    background:#fff;
    color:rgb(224,224,224);
    margin-right: 5px;
    line-height: unset;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin-left: -2px;
    margin-top: -1px;
}

.imgContainer {
    height:268px;
    width:100%;
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img {
    border-radius: 0;
    width: 100%;
    height:100%;
    object-fit: contain;
}

.imgContainer:hover .btnContainerEdit {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
     opacity: 1;
}
.imgContainer:hover {
    cursor: pointer;
}
