.coverImage{
    
}
.thumbnailContainer{
    width: 170px;
    margin:0 auto;
    position:relative;
    bottom:95px;
    z-index:15;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
}
