.modalFooter {
    margin-top:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.modalFooter > div {
    width:200px;
}
.modalFooter .btn {
    padding: 17.5px 0;
    font-size: 15px;
    line-height: 1;
    max-width: 200px;
    height: 50px;
}
