.contentContainer {
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    padding: 0 90px;
}
.left, .right {
    flex:1;
}
.left {
    margin-right:25px;
    display:flex;
    flex-direction: column;
}
.inputContainer {
    width: 320px;
}
.inputContainer:not(:last-child) {
    margin-bottom:25px;
}
.right{
    display:flex;
    padding-top:35px;
}
.previewBox {
    border-radius:15px;
    background:#fff;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    max-width: 330px;
}
.iconContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
    margin:0 auto;
    margin-top:50px;
    max-width:180px;
}
.previewImage {
    flex:1;
    background-size:cover;
}

.previewBox img {
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 0 auto;
}
.loaderCard {
    display:flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    height:250px;
    background:#fff;
    margin-bottom:25px;
    border-radius:15px;
    box-shadow: 2px 4px 10px #ddd;
}
.loaderContainer{
    width:100%;
    height:150px;
}
.loaderContainer > div {
    width:100%;
    min-height:unset;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.loaderContainer > div > div {
    width:120px;
    height:120px;
}