.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 40px;
    border-width: 1.5px;
    text-transform:uppercase !important;
    width:100%;
    min-width: 135px;
    border-style: solid;
    cursor:pointer;
    font-weight:bold;
    border-color: #158bca;
    color: #158bca;
    font-size: 10.5px;
    transition: 0.4s;
    height: 40px;
}
.btn:hover{
    background-color: #158bca;
    color: #fff;
    transition: 0.4s;
}