.iconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconContainer:hover{
    cursor: pointer;
}


.iconContainer img {
    opacity: 0.7;
    transition: opacity 1.5s ease-out;
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
}

.iconContainer img:hover {
    opacity: 1;
}
