.wrapper {
    width:100%;
    height:100px;
    border:2px solid #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.6s;
}
.wrapper:hover {
    box-shadow: 0 0 0 1px #ACACAC;
    transition: all 0.6s;
}
.btnContainer {
    max-width:200px;
    width:100%;
    margin:0 auto;
}
.imgContainer {
    width:100%;
    height:100%;
    position: relative;
}
.imgContainer img {
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 15px;
}

.imgContainer:hover {
    cursor: pointer;
}
.imgContainer:hover .btnContainerEdit {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
     opacity: 1;
}
.btnContainerEdit > span {
    background:#fff;
    color:rgb(224,224,224);
    margin-right: 5px;
    line-height: unset;
    padding: 5px; 
    width: 35px;
    height: 35px;
    margin-left: -2px;
    margin-top: -1px;
}
.btnContainerEdit {
    position: absolute;
    top: 10px;
    left: 10px;
    color:#fff;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    z-index: 10;
    background-color: #12caaf;
    border-radius: 20px;
    padding-right: 10px;
    height: 35px;
    border: 1px dotted #ececec;
    font-size: 10px;
    letter-spacing: 0.57px;
    font-family: 'Montserrat-Medium';
}