.formWrapper{
    margin-top: 25px;
}

.columnsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}

.column, .third{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 25px;
}

.column:last-child, .third:last-child{
    margin-right: 0;
}

.btn {
    margin:0 auto;
    max-width:180px;
}