.pageWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    min-height:100%;
}
.pageWrapper h1 {
    font-size:1.3em;
}
.pageWrapper h2 {
    font-size:0.9em;
}
.pageContent {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.warningMsg {
    text-align:center;
    margin-bottom:0px !important;
}
.formContainer {
    width:90%;
    margin:0 auto;
    display:block;
}
.formContainer input {
    display:block;
    max-width:400px;
    margin:10px auto;

}
.btn {
    display:block;
    width:100%;
    max-width:400px;
    border-radius:10px;
    margin:0 auto;
    margin-top:20px;
}
.warningContainer {
    color:red;
    text-transform:uppercase;
    font-size:0.9m;
    text-align:center;
    font-weight:bold;
}
.warningField {
    text-transform:uppercase;
    font-size:0.8em;
    text-align:center;
    color:orange;
    display:block;
}