.cardWrapper {
    width:100px;
    height:120px;
    padding:10px;
}
.iconContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:10px;
}
.label {
    font-size:13px;
    text-align:center;
    margin-bottom:10px;
}
.value {
    font-size:25px;
    font-weight:600;
    text-align:center;
}