.thumbnailContainer {
    width:170px;
    margin:0 auto;
    position:relative;
    bottom:100px;
    z-index:15;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
}



.profilePhotoCon {
    width: 200px;
    height:200x;
}