.componentWrapper {
    margin:0;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(248,247,247)
}
.formWrapper {
    padding: 50px;
}
.photoPlaceholder {
    width:100%;
    height:150px;
    background:rgba(0,0,0,0.2);
}
.bottom {
    padding:24px;
}
.actions {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom:50px;
}
.actions > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.btnContainer {
    min-width:200px;
    margin-right:35px;
}
.btnContainer > div {
    margin-bottom:unset;
}
.customerInfo {
    margin-bottom:26px;
    text-align:center;
    color:rgb(21,139,202);
}
.openPanel span{
    color: rgb(87,87,86);
    cursor:pointer;
    font-size:1.1em;
    border-bottom: 1px solid rgb(87,87,86);
    padding-bottom: 2px;
}
.customerNumberContainer {
    text-align:center;
}
