.footerWrapper {
    padding:50px 20px;
    text-align:center;
    /* box-shadow: 0px -2px 8px #f0f1f2; */
    /* text-transform: uppercase; */
    font-size:1em;
    font-weight:200;
    display: flex;
    background: rgb(248, 247, 247);

}
.contentWrapper{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}
.contentWrapper > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(87,87,86);
    font-size:14px;
}
.contentWrapper > div:nth-child(1) {
    margin-right:4%;
}
.contentWrapper > div:nth-child(2) {
    margin-right:15%;
}
.contentWrapper p{
    /* margin: 0 10% 0 4%; */
}
.footerLinks > div, .footerLinks a{
    color: #B0B0B0;
}
.buttonContainer {
    max-width:200px;
}


@media only screen and (max-width: 900px) {
    .footerWrapper {
        font-size:1em;
    }
    .contentWrapper {
        flex-direction: row;
        width:100%;
        max-width:400px;
        flex-wrap:wrap;
        justify-content: center;
    }
    .contentWrapper > div {
        max-width:400px;
        display:flex;
        flex-direction: row;
        margin:10px 5px !important;
        justify-content: center;
    }

}
