.AdminWrapper :global(.ant-tabs-nav-container){
    text-align: center;
}

.AdminWrapper :global(.ant-tabs-tab-active){
    font-weight: bold;
    color: #575756;
}
.AdminWrapper :global(.ant-tabs-large-bar) :global(.ant-tabs-tab){
    padding: 25px 30px;
}

.AdminWrapper :global(.ant-tabs-tab:hover){
    font-weight: bold;
    color: #575756;
}

.AdminWrapper :global(.ant-tabs-ink-bar){
    background-color: #15caaf;
    height: 4px;
    border-radius: 10px;
    transition: all 0.5s ease-in;
}

.AdminWrapper :global(.ant-tabs-nav-wrap){
    background: #f8f7f7;
    padding-top: 15px;
}

.AdminWrapper :global(.ant-tabs-bar){
    /* margin-bottom: 50px; */
    margin-bottom:0px !important;
}

.AdminWrapper :global(.ant-tabs-content){
    padding-top:50px;
    /* margin-bottom: 50px; */
}
.AdminWrapper :global(.ant-tabs){
     margin-bottom: 50px;
 }

/* TODO */
@media only screen and (max-width: 2000px) {
    .AdminWrapper {
         max-width: 100%;
    }
}

@media (max-width: 767px) {
    .AdminWrapper .ant-tabs-content {
        padding: 30px;
    }
}
