
.formWrapper input, .formWrapper textarea{
    background-color:unset !important;
    border:none !important;
    border-bottom:1px solid black!important;
}
input:focus{
    border-top:none !important;
}

.warningField {
    text-transform:uppercase;
    font-size:1em;
    color:orange;
    display:block;
}
.fieldLabel {
    text-transform:uppercase;
    font-size:0.8em;
    color: #bebebe;
    margin-top:20px;
}
/* .submitBtn {
    display:block;
    
    width:90%;
    margin:10px auto;
} */
.submitBtn {
    display:block;
    color: #fff;
    text-transform: uppercase;
    background: #39CCCC;
    width: 100%;
    margin-top:20px;
    padding: 10px !important;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor:pointer;
    transition:all 1s;
    text-align:center;
}
.submitBtn:hover {
    color: #fff;
    background:#000;
}