.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 50px;
}

.columnContainer {
  width: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: row;
  justify-content: space-between;
}
.greyBackground {
  background: rgb(248, 247, 247);
}
.styledButtonWrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  margin-top: 25px;
}
.widgetContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 435px;
  margin: 25px auto;
}
.widgetContainer:last-of-type {
  margin-bottom: 0px;
}
.column:first-child {
  margin-right: 50px;
  max-width: 475px;
  min-height: 100%;
  background: rgb(248, 247, 247);
}

.qrImage {
  display: block;
  width: 200px;
  height: 200px;
  margin: 25px auto;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column > div {
  margin-bottom: 30px;
}
.column:first-child > div {
  margin-bottom: 0;
}

.column:first-child {
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}
.coverImage {
  /* background:red; */
  position: relative;
}
.thumbnailContainer {
  position: absolute;
  left: 15px;
  z-index: 5;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
  height: 130px;
}

.greyBackground > div:last-child {
  margin-bottom: 30px;
}

.inputWrapper {
  max-width: 540px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.inputWrapper > span {
  max-width: 350px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.inputWrapper p {
  color: #a7a9ac;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.67px;
}

.saveButtonWrapper {
  margin: 50px 0;
}
.AdminWrapper :global(.ant-tabs-nav-container){
  text-align: center;
}

.AdminWrapper :global(.ant-tabs-tab-active){
  font-weight: bold;
  color: #575756;
}
.AdminWrapper :global(.ant-tabs-large-bar) :global(.ant-tabs-tab){
  padding: 25px 30px;
}

.AdminWrapper :global(.ant-tabs-tab:hover){
  font-weight: bold;
  color: #575756;
}

.AdminWrapper :global(.ant-tabs-ink-bar){
  background-color: #15caaf;
  height: 4px;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}

.AdminWrapper :global(.ant-tabs-nav-wrap){
  background: #f8f7f7;
  padding-top: 15px;
}

.AdminWrapper :global(.ant-tabs-bar){
  /* margin-bottom: 50px; */
  margin-bottom:0px !important;
}

.AdminWrapper :global(.ant-tabs-content){
  padding-top:50px;
  /* margin-bottom: 50px; */
}
.AdminWrapper :global(.ant-tabs){
   margin-bottom: 50px;
}

/* TODO */
@media only screen and (max-width: 2000px) {
  .AdminWrapper {
       max-width: 100%;
  }
}

@media (max-width: 767px) {
  .AdminWrapper .ant-tabs-content {
      padding: 30px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
  .columnContainer {
    display: block;
  }
}

.inputContainer {
  background-color: rgb(248, 247, 247) !important;
}
