.mediaContainer {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    height: 261px;
    margin-top: 15px;
}
.presetImage {
    width:100%;
    height:100%;
    border-radius:15px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: 0.6s;
    position: relative;
}
.presetImage:hover {
    box-shadow: 0 0 0 1px #ACACAC;
    cursor: pointer;
}
.icon {
    font-size:12px;
    display:inline-block;
}
.icon svg {
    width:12px;
    height:12px;
    position:relative;
    top:2px;
}
.iconContainer {
    cursor:pointer;
    padding:10px;
    display:flex;
    flex-direction: row;
    font-size:12px;
    color:#fff
}

.presetImage:hover {
    cursor: pointer;
}
.presetImage:hover .btnContainerEdit {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
     opacity: 1;
}
.btnContainerEdit > span {
    background:#fff;
    color:rgb(224,224,224);
    margin-right: 5px;
    line-height: unset;
    padding: 5px;    
    width: 35px;
    height: 35px;
    margin-left: -2px;
    margin-top: -1px;
}
.btnContainerEdit {
    position: absolute;
    top: 10px;
    left: 10px;
    color:#fff;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    z-index: 10;
    background-color: #12caaf;
    border-radius: 20px;
    padding-right: 10px;
    height: 35px;
    border: 1px dotted #ececec;
    font-size: 10px;
    letter-spacing: 0.57px;
    font-family: 'Montserrat-Medium';
}