.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 0;
    border-radius: 20px;
    border-width: 1.5px;
    text-transform:uppercase !important;
    width:100%;
    min-width: 175px;
    border-style: solid;
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    line-height:11px;
    height: 40px;
    border-color: #575756;
    color: #575756;
}
.btn:hover{
    color: #575756;
    transition: 0.4s;
}

.btn svg {
    margin-right: 5px;
}

