.loaderContainer > div {
    min-height: unset !important;
    height:100%;
}
.loaderContainer {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.loaderContainer > div > div {
    height:120px;
    width:120px;
}
.feedContainer {
    background-color: rgb(248,247,247);
    max-width:435px;
    overflow-y:scroll;
    height:250px;
}
.imagesContainer {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.imgContainer {
    cursor:pointer;
    min-width:70px;
    flex:1;
    max-width:75px;
    border:2px solid #fff;
    height:70px;
    background-size:cover !important;
}