.pageContent{
    padding-bottom:50px;
}
.pageWrapper{
    width:100%;
}
.fieldLabel {
    color:#bebebe;
}
.icon svg{
    height:40px;
    color:#1890ff;
    width:40px;
}
.icon:hover svg {
    color:#045cad;
}
.profilePictureContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.pageContent input[type=text]{
    background-color:unset !important;
    border:none;
    border-color: #111;
    border-bottom:1px dotted !important;
}
.pageContent input[type=text]:focus{
    border:none !important;
}
.saveBtn {
    margin:0 auto;
    padding:5px 40px;
    display:block;
}
.warningField {
    text-transform:uppercase;
    font-size:0.8em;
    color:orange;
    display:block;
}

