.innerWrapperRight {
    width:70%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    text-align:center;
}
.socialBtn {
    width:100%;
    text-align:center;
    background-color:#fff;
    display:flex;
    flex-direction:column;
    justify-content: center;
    color:#111;
    cursor:pointer;
    padding:0px 0px 5px 0px;
    margin-bottom:10px;
}
.socialBtn:hover .icon{
    color: #0e1a25;
    fill: #0e1a25;
}
.icon {
    display:inline-block;
    position: relative;
    top:10px;
    height:32px;
    margin-left:3px;
    background:#fefefe;
    width:32px;
    transition:all 1s;
}
.icon:hover {
}
.facebook {
    fill: #3b5998;
    color: #3b5998;
}
.google {
    color: #26d9b5;
    fill: #26d9b5;
}