.screenWrapper {
    width:100%;
    min-height:1000px;
    max-width: 900px;
    margin: 0 auto;
    background: #f8f7f7;
}
.companyInfo {
    width:100%;
}
.innerContent {
    width:100%;
    max-width:600px;
    margin:0 auto;
    display:flex;
    padding:20px;
    padding-top:150px;
}
.titleContainer h1 {
    color: #158bca;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
}
.titleContainer {
    margin-bottom:25px;
}